@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Overpass", sans-serif;
}

.position1 {
    position: absolute;
    top: 300px;
    left: 50px;
}

.reserva-main-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reserva-second-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-titulo{
    font-size: 24px;
    font-weight: 500;
}

.reserva_close-txt{
    position: relative;
    margin-left: auto;
    font-size: 27px;
    max-width: fit-content;
    cursor: pointer;
}

.modal {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 10px;
    background-color: #cccccc;
    padding: 20px 30px;
    border: 2px solid #888988;
    border-radius: 10px;
    font-family: "Overpass", sans-serif;
}

.reserva_modal-block{
    display: flex;
    gap: 25px;
    flex-direction: column;
}

.form-reserva{
    display:flex;
    flex-direction: column;
    gap: 10px;
    max-width: 35%;
}

.form-reserva{
    max-width: 37%;
    gap: 10px;
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.confirm_paciente_button{
    padding: 3px 12px;
    border: 3px solid #3e97cf;
    background-color: #72add2;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.button-form-reserva{
    padding: 10px 20px;
    max-width: fit-content;
    border-radius: 20px;
    cursor: pointer;
}

.reserva-espaciado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reserva-input{
    border: 1px solid #444;
    border-radius: 4px;
}